body {
    background-color: hsl(217, 54%, 11%);
    text-align: center;
}

.nftdiv {
    background-color: hsl(216, 50%, 16%);
    width: 32%;
    text-align: center;
    border-radius: 2%;
    position: absolute;
    left: 40%;
}
.nft {
    border-radius: 2%;
    
    width: 100%;
}
h1 {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight:600;
    text-align: left;
    margin-left: 35px;
}
p {
    color: hsl(216, 34%, 64%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    text-align: left;
    margin-left: 35px;
    font-size: 20px;
}
.ethprice {
    width: 16%;
    text-align: left;
    margin-left: 35px;
    position: relative;
    
}
#eth {
    position: relative;
    
    left: 15px;
    bottom: 24px;
    color: hsl(187, 100%, 50%);
    margin:  0px;
}

.countdown{
    width: 25%;
    text-align: left;
    position: absolute;
    right: 10px;
    bottom:52px;
}
#daycount {
    position: relative;
    bottom: 45px;
}

.creator {
    text-align: left;
    
}

.avatar{
    border: solid;
    border-radius: 100%;
    border-color: white;
    width: 7%;
    border-width: 1px;
    margin-left: 30px;
    margin-bottom: 20px;
    
}
.creatorname {
    position: absolute;
    bottom: 12px;
    left: 80px;
    font-size: 20px;
}
span{
    color: white;
}
hr {
    width: 90%;
    border-color: hsl(215, 32%, 27%);
    border-top: 0px;
    margin-bottom: 25px;
}

.nftcontainer {
    position: relative;
    top: 30px;
    width: 90%;
    text-align: center;
    margin: 50px auto 50px auto;
    

}

.iconview {
    position: absolute;

    bottom: 42%;
    left: 44%;
    display: none;
    

    
}
.nftcontainer:hover .nft{

    opacity: 0.3;

}
.nftcontainer:hover {
    background-color: aqua;
}
.nftcontainer:hover .iconview {
    display: inline;
}

span:hover {
    color: aqua;
}